version: '3'
services:
  # 1. API Gateway (La única puerta abierta al público)
  api-gateway:
    image: gjuaneth/gymfit-gateway:latest  # <--- CAMBIA 'tuusuario' por tu usuario de Docker Hub
    restart: always
    ports:
      - "80:8080" # Mapea el puerto 80 (web estándar) al 8080 de tu app
    environment:
      - PORT=8080
      - AUTH_SERVICE_URL=http://auth-service:3001
      - TRAINING_SERVICE_URL=http://training-services:3002

  # 2. Auth Service (Privado)
  auth-service:
    image: gjuaneth/gymfit-auth:latest    # <--- CAMBIA 'tuusuario'
    restart: always
    environment:
      - PORT=3001
      # Azure inyectará estas variables por seguridad, 
      # pero las dejamos aquí referenciadas.
      - MONGO_URI=${MONGO_URI} 
      - JWT_SECRET=${JWT_SECRET}

  # 3. Training Service (Privado)
  training-services:
    image: gjuaneth/gymfit-training:latest # <--- CAMBIA 'tuusuario'
    restart: always
    environment:
      - PORT=3002
      - MONGO_URI=${MONGO_URI}