version: '3'
services:
  # 1. API Gateway
  api-gateway:
    image: gjuaneth/gymfit-gateway:latest
    restart: always
    ports:
      - "80:8080"
    environment:
      - PORT=8080
      - AUTH_SERVICE_URL=http://auth-service:3001
      - TRAINING_SERVICE_URL=http://training-services:3002

  # 2. Auth Service
  auth-service:
    image: gjuaneth/gymfit-auth:latest
    restart: always
    environment:
      - PORT=3001
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}

  # 3. Training Service
  training-services:
    image: gjuaneth/gymfit-training:latest
    restart: always
    environment:
      - PORT=3002
      # CORRECCIÓN AQUÍ: Quitamos el =${...}
      - MONGO_URI